:root {
    box-sizing: border-box;
    --b-c-: rgb(92, 90, 90);
    --b-h: rgb(20, 20, 20);
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    background-color: var(--b-c-);
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    background-color: var(--b-h);
}
.navigation-header {
    padding: 1em 1.5em;
}
.primary-link > li > a {
    color: white;
    text-decoration: none;
}
.primary-link {
    list-style-type: none;
    display: flex;
}
.primary-link > li + li {
    margin-left: 1.5em;
}